// Specific CSS for your home-page
.container-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.outer-container-cards h1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 55px;
  color: white;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  font-family: 'Averia Serif Libre', cursive;
}

.outer-container-cards {
  background-color: rgba(173,167,178,0.8);
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
}
