// Specific CSS for your home-page
.container-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.outer-container-cards h1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 55px;
  color: white;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  font-family: Roboto;
}

.outer-container-cards {
  padding: 20px;
  font-size: 14px;
  color: #3D3D3E;
  font-family: Roboto;
  background-color: #DFDFDF;
}
