body {
  font-family: Roboto;
}
.product {
  width: 70%;
  margin-right: 20px;
}

.main-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin: 20px auto;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

.tablescape-description {
  border: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 20px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  h2 {
    text-align: center;
    font-family: 'Averia Serif Libre', cursive;
  }
  h3{
    text-align: center;
    opacity: 0.6;
    font-size: 20px;
    font-family: Roboto;
  }
  h4 {
    font-family: Roboto;
  }
  p {
    text-align: justify;
  }
}

.container-flex {
  display: flex;
}

.reserve-form form{
  border: 1px solid rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  text-align: center;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}



// .reserve-form {
//   border: 1px solid rgba(0,0,0,0.2);
//   // position: sticky;
//   // top: 0;
//   text-align: center;
//   padding: 20px;
//   margin: 20px;
//   box-shadow: 0 0 10px rgba(0,0,0,0.2);
// }



.price {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
}

// .container-booking {
// margin: 20px 40px;
// }

// .product-booking {
//   display: flex;
//   justify-content: space-between;
//   border: 1px solid rgba(0,0,0,0.2);
//   margin: 20px auto;
//   width: 100%;
//   padding: 20px;
//   box-shadow: 0 0 10px rgba(0,0,0,0.2);
// }

.tablescape-reviews {
  border: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  h2 {
    font-family: Roboto;
    padding-bottom: 10px;
  }
}

.confirmation-icon {
font-size: 160px;
margin-right: 65px;
}



.container .sticky  {
  position: sticky;
  top: 400px;
}

.box-class {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
}

