.navbar {
  justify-content: space-between;
  background: white;
  display: flex;
  padding: 0px 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

.navbar .logo a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.pages {
  display: flex;
}

.login {

}
